{% extends "base.html.twig" %}

{% block title %} Liste des logs - {{ parent() }}{% endblock %}

{% block body %}

    <div class="container">

        <h3>Liste des logs (par fichier importé)</h3>

        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Number of articles</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for log in logs %}
                    <tr>
                        <td>{{ log.createdAt|date('d/m/Y H:i:m') }}</td>
                        <td>{{ log.articles|length }}</td>
                        <td>
                            <a class="btn btn-primary" href="{{ path('log_show', {"id" : log.id}) }}">Voir</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td>Aucun log</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>



    </div>

{% endblock %}
