{% extends "base.html.twig" %}

{% block title %} Liste des articles - {{ parent() }}{% endblock %}

{% block body %}

    <div class="container">

        <h2>Liste des articles du log {{ log.createdAt|date('d/m/Y H:i:m') }}</h2>

        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Number of variants</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>

                {% for article in log.articles %}
                    <tr>
                        <td>{{ article.id }}</td>
                        <td>{{ article.magmis[0].name }}</td>
                        <td>{{ article.magmis|length - 1 }}</td>
                        <td>
                            <a class="btn btn-primary" href="{{ path('article_show', {"id" : article.id}) }}">Voir</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>

            </table>
        </div>
    </div>

{% endblock %}
