{% extends "base.html.twig" %}

{% block title %} Article {{ article.magmis[0].name }} - {{ parent() }}{% endblock %}

{% block body %}

    <div class="container">

        <h3>
            Article : {{ article.magmis[0].name }}
            <span class="pull-right">
                <a class="btn btn-primary" href="{{ path('article_exportcsv',{"id" : article.id}) }}">Exporter en CSV</a>
            </span>
        </h3>

        <div>
            <p>Description : </p>
            <p>{{ article.magmis[0].description|raw }}</p>
        </div>

        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Type</th>
                    <th>Sku</th>
                    <th>Manufacturer</th>
                    <th>Manufacturer Sku</th>
                    <th>Name</th>
                    <th>Brand</th>
                    <th>Color</th>
                    <th>Size</th>
                    <th>Gender</th>
                    <th>Age Group</th>
                    <th>Price</th>
                    <th>Msrp</th>
                    <th>ConfigurableAttributes</th>
                    <th>SimplesSkus</th>
                </tr>
                </thead>
                <tbody>

                {% for magmi in article.magmis %}
                    <tr>
                        <td>{{ magmi.type }}</td>
                        <td>{{ magmi.sku }}</td>
                        <td>{{ magmi.manufacturer }}</td>
                        <td>{{ magmi.manufacturerSku }}</td>
                        <td>{{ magmi.name }}</td>
                        <td>{{ magmi.brand }}</td>
                        <td>{{ magmi.color }}</td>
                        <td>{{ magmi.size }}</td>
                        <td>{{ magmi.gender }}</td>
                        <td>{{ magmi.ageGroup }}</td>
                        <td>{{ magmi.price }}</td>
                        <td>{{ magmi.msrp }}</td>
                        <td>{{ magmi.configurableAttributes }}</td>
                        <td>{{ magmi.simplesSkus }}</td>
                    </tr>
                {% endfor %}
                </tbody>

            </table>
        </div>
    </div>

{% endblock %}
